#rectangle
           {
             height: 50px;
             width: 1500px;
             background-color: aqua;
             color: black;
             text-align: center;
             font-size: 40px;
           }
           #box
           {
             height: 500px;
             width: 1490px;
             background-color:white;
             padding-top: 10px;
             padding-left: 5px;
             padding-right: 5px;
             margin-right: 5px;
           }
           .container
           {
             height: 500px;
             width: 1500px;
             background-color:black;
             text-align: center;
             padding-top: 100px;
           
             
           }
           .small-container
           {
             height: 50px;
             width: 150px;
             background-color:grey;
             float: left;
             text-align: center;
             color: white;
           }
           .tray
           {
             background-color: black;
             height: 30px;
             width: 1500px;
             color: white;
           }
           course
           {
             text-align: left;
             color: red;
             padding-left: 260px;
           }
           .image
           {
             margin-top: 40px;
             margin-left: 140px;
             height: 300px;
             width: 1200px;
           }
           .image-text
           {
             position: absolute;
             top:60px;
             color: aqua;
             text-align: center;
           }